@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "header.css";
@import "footer.css";

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #0b4cb0;
  --secondary-color: #c66be4;
  --accent1-color: #3b2044;
  --accent2-color: black;

  /* change the values below to your chosen font(s) */
  --heading-font: "Open Sans", sans-serif;
  --paragraph-font: Roboto, "Roboto Slab", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #3b2044;
  /* headlines on a white background */
  --headline-color-on-color: white;
  /* headlines on a colored background */
  --paragraph-color-on-white: black;
  ;
  /* paragraph text on a white background */
  --paragraph-color-on-color: white;
  /* paragraph text on a colored background */
  --paragraph-background-color: #0b4cb0;
  --nav-link-color: white;
  --nav-background-color: #3b2044;
  --nav-hover-link-color: black;
  --nav-hover-background-color: #c66be4;
}

/*
* {
    border: 1px solid red; 
  }
*/


body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: var(--paragraph-font);
}

body,
html {
  height: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 20px;
}

p {
  font-family: var(--paragraph-font);
  line-height: 1.5;
}










.transition0 {
  background-color: black;
  color: black;
  height: 100px;
  z-index: 2;
}




.book_now a {
  text-decoration: none;
  background-color: white;
  color: black;
  font-family: var(--heading-font);
  font-size: 24px;
  padding: 12px 30px;
  border: 2px solid transparent;
  display: block;
  margin: 50px auto 0;
  width: fit-content;
  border-radius: 15px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 600;
}

.book_now a:hover {
  background-color: #c66be4;
  color: white;
  border-color: white;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(198, 107, 228, 0.3), 0 0 15px rgba(198, 107, 228, 0.4);
}











.hero-text {
  text-align: right;
  position: absolute;
  top: 300px;
  left: 60%;
  transform: translate(-50%, -50%);
  color: white;
}



.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("../images/grand_piano2original.jpg");

  /* Set a specific height */
  min-height: 2000px;
  width: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}





.firstlist {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 equal-width columns */
  grid-template-rows: repeat(3, 1fr);
  /* 9 equal-height rows */
  gap: 50px;
  margin: 100px auto;
}

.firstlist li {
  padding: 20px;
  font-size: 20px;
}

.firstlist iframe {
  margin-top: 10px;
}








.hero-text2 h1 {
  text-align: center;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text2 p {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-image2 {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("../images/music_imageoriginal.jpg");

  /* Set a specific height */
  height: 1000px;
  width: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  z-index: 0;

  margin-left: auto;
  /* Add this */
  margin-right: auto;
  /* Add this */
}

iframe {
  border: 2px solid white;
}


.ul2 {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 equal-width columns */
  grid-template-rows: repeat(1, 1fr);
  /* 9 equal-height rows */
  gap: 50px;
  margin: 100px auto;
}

li2 {
  padding: 20px;
  justify-content: center;
  align-content: center;
}


thumbnail img {
  max-width: 100%;
  height: auto;
}


















/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
  */