@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "header.css";
@import "footer.css";

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #0b4cb0;
  --secondary-color: #c66be4;
  --accent1-color: #3b2044;
  --accent2-color: black;

  /* change the values below to your chosen font(s) */
  --heading-font: "Open Sans", sans-serif;
  --paragraph-font: Lora, "Roboto Slab", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #3b2044;
  /* headlines on a white background */
  --headline-color-on-color: white;
  /* headlines on a colored background */
  --paragraph-color-on-white: black;
  ;
  /* paragraph text on a white background */
  --paragraph-color-on-color: white;
  /* paragraph text on a colored background */
  --paragraph-background-color: #0b4cb0;
  --nav-link-color: white;
  --nav-background-color: #3b2044;
  --nav-hover-link-color: black;
  --nav-hover-background-color: #c66be4;
}



/* {
    box-sizing: border-box;
    border: 1px solid red;
}  */




body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 20px;
}

p {
  font-family: var(--paragraph-font);
  line-height: 1.5;
}





.transition0 {
  background-color: black;
  color: black;
  height: 100px;
  z-index: 2;
}












.transition0 {
  background-color: black;
  color: black;
  height: 100px;
  z-index: 2;
}











/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("../images/grand_piano1original.jpg");

  /* Set a specific height */
  height: 800px;
  width: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  z-index: 0;

  margin-top: 100px;

}


/* Place text in the middle of the image */
.hero-text {
  color: white;
  padding: 0px 20px;
  position: absolute;
  top: 11%;
  left: 35%;
  transform: translate(-50%, -50%);
  /* Add this */
}

.hero-text h1 {
  margin-bottom: 0;
}

.hero-text p {
  text-align: left;
  padding: 0px 0px 0px 0px;
  margin-top: 30px;
}

.hero-text p {
  display: inline-block;
  background-color: black;
  font-size: 20px;
  white-space: pre-line;
  line-height: 1;
  margin-bottom: 3px;
}


/*linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */



.hero-text2 {
  text-align: center;
  color: white;
  padding: 50px 200px 50px 200px;
}















.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Two equal-width columns */
  gap: 20px;
  /* Adjust spacing between grid items */
}

.image-left img {
  grid-column: 1;
  /* Span the first column */
  border: 7px white solid;
  margin: 0 0 0 10px;
}

.text-right {
  grid-column: 2;
  /* Span the second column */
}



.image-right {
  /* Style your second image here */
  max-width: 100%;
  height: auto;
  /* Maintain aspect ratio */
}

















/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
  */